html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.app {
    margin-top: 65px;
    padding: 0px;
}


p {
    margin-bottom: 15px;
}

#einleitung {
    background-image: url(/src/components/home/images/background-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    justify-content: center;
}



@media (min-width:768px) {
    .card {
        flex-direction: row;
    }
}