* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

/* height of the container */
.leaflet-container {
    height: 70vh;
    width: 100%;
}

/* height of the container is less on smaller screens*/
@media (max-width:768px) {
    .leaflet-container {
        height: 45vh;
        width: 100%;
    }
}